<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Profile Components Library!
  </h1>
  <img width="300" alt="Angular Logo" src="assets/profilelogoBig.png">
</div> <br> <br>
<div>
  <button routerLink="">Home</button>
  <button routerLink="/pr-input">PrInput</button>
  <button routerLink="/pr-tab-panel">PrTabPanel</button>
  <button routerLink="/pr-modal">PrModal</button>
  <button routerLink="/pr-mask">PrMask</button>
  <button routerLink="/pr-table">PrTable</button>
  <button routerLink="/pr-filter">PrFilter</button>
  <button routerLink="/pr-sortby">PrSortBy</button>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>

